.about-all,
.about{
   position: relative;
}
.about-info{
   padding-top: 43px;
   width: 100%;
   height: 700px;
   position: relative;
}
@media (max-width: 676px) {
   .about-info{
      height: 500px;
   }
}
.info-content{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
   position: absolute;
   top: 0;
}
.about .content-about{
   margin-top: 50px;
   max-width: 1200px;
   background: var(--main-color);
   color: #fff;
   width: 100%;
   height: 100%;
   position: relative;
}
.about .content-about h2{
   text-align: center;
   padding: 10px;
   font-size: 24px;
}
.about .content-about p{
   padding: 15px;
   font-size: 15px;
   line-height: 2;
   text-align: right;
}

.cards-content{
   padding: 100px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.cards-content .card{
   background: #fff;
   width: 350px;
   display: flex;
   flex-direction: column;
   padding: 0 15px;
   box-shadow: 0 10px 10px #0000001f;
   margin: 30px 10px;
   position: relative;
   padding-top: 30px;
   transition: all 0.3s ease-in-out;
}
.cards-content .card .img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background: #ddd;
   align-self: end;
   position: absolute;
   top: -40px;
   transition: all 0.3s ease-in-out;
   overflow: hidden;
}
html[lang="en"] .cards-content .card .img{
   right: 20px;
}
html[lang="ar"] .cards-content .card .img{
   left: 20px;
}
.cards-content .card .img img{
   width: 100%;
   height: 100%;
}
.cards-content .card .img svg path {
   fill: var(--main-color) ;
   transition: all 0.3s ease-in-out;
}
.cards-content .card .head{
   font-size: 22px;
   color: var(--main-color);
   font-weight: 500;
   padding-bottom: 7px;
   position: relative;
   margin-bottom: 15px;
   transition: all 0.3s ease-in-out;
}
.cards-content .card .head::before{
   content: "";
   display: block;
   width: 30px;
   position: absolute;
   bottom: 0;
   border-bottom: 3px solid var(--main-color);
}
.cards-content .card .body{
   padding-bottom: 15px;
}
.cards-content .card .body p{
   font-size: 17px;
   text-align: right;
   line-height: 2;
}
.cards-content .card:hover .head{
   color: #fff;
}
.cards-content .card:hover .head::before{
   border-color: #fff;
}
.cards-content .card:hover{
   transform: translateY(-25px);
   background-color: var(--main-color);
   color: #fff;
}
/* .cards-content .card:hover .img{
   background-color: var(--secound-color);
} */
.cards-content .card:hover .img svg path{
   fill: #fff;

}
@media (max-width: 767px) {
   .card{
      width: 100% !important;
   }
}
.features{
   max-width: 1200px;
}
.features .title{
   color: var(--secound-color);
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
}
.features .content{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
}
.features .feat{
   width: calc(calc(100% - 240px) / 2);
   min-width: 150px;
   padding: 5px;
   box-shadow: 0 0 3px #7777;
}
.features .feat svg{
   width: 80%;
   height: 80%;
   transition: all 0.3s ease-in;
}
.features .feat svg path{
   fill: var(--secound-color);
}
.features .feat .icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #ddd;
   margin: 10px auto;
   transition: all 0.3s ease-in;
   overflow: hidden;
}
.features .feat .icon img{
   width: 100%;
   height: 100%;
}
.features .feat .title p{
   color: #000;
   text-align: center;
   font-size: 14px;
   margin-top: 5px;
   padding-top: 10px;
   transition: all 0.3s ease-in;
}
.features .feat:hover svg path,
.features .feat:hover .icon
{
   fill: #fff;
   background-color: var(--secound-color);
}
.features .feat:hover .title p{
   color: var(--secound-color);
}
@media (max-width: 676px) {
   .features .feat{
      width: 100%;
   }
}