.footer{
   padding: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   background-color: var(--main-color);
}
.footer .links{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-right: 40px;
   justify-content: center;
}
.footer .links ul {
   list-style-type: none;
   margin: 0;
}
.footer .links ul li {
   margin: 9px 40px;
   text-align: center;
}
.footer .links ul li a{
   color: #fff;
   font-size: 1.1rem;
   line-height: 1.3;
   padding: 5px;
}
.footer .copy{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-left: 40px;
}
.footer .copy > p{
   color: #fff;
   font-size: 1.2rem;
   padding:  3px 0;
   text-align: center;
}
.footer .copy > p span:last-of-type{
   margin-left: 0;
}
.footer .copy > p span{
   margin-left: 4px;
}
.footer .copy .social{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}
.footer .copy .social a{
   color: #fff;
   font-size: 1.5rem;
   margin-left: 20px;
   margin-top: 15px;
}
.footer .copy .social a:first-of-type{
   margin-inline-end: 0;
}
@media (max-width:991px) {
   .footer {
      justify-content: center ;
   }
}
@media (max-width: 768px) {
   .footer .copy,
   .footer .links{
      margin: 0;
      flex-grow: 1;
   }
}